footer {
  margin-top: 4px;
  padding: 12px 8px 21px 0;
  @include media-breakpoint-up(md) {
    margin-top: 10px;
    padding: 24px 0 21px 0;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 40px;
    padding-top: 16px;
  }
  // footer content css
  p,
  a {
    margin-bottom: 8px; //decide whether to use utility or not
    letter-spacing: -0.35px;
    @include media-breakpoint-up(md) {
      letter-spacing: 0.8px;
    }
    @include font-size(14px);
    @include line-height(18px);
  }
  ul.list-unstyled {
    > li {
      &:first-child {
        padding-right: 14px;
        @include media-breakpoint-up(md) {
          padding-right: 23px;
          margin-right: 20px;
        }
        @include media-breakpoint-up(xl) {
          margin-right: 0;
        }
        img {
          max-width: 106px;
          @include media-breakpoint-up(md) {
            max-width: none;
          }
        }
      }
      &:nth-child(2) {
        @include media-breakpoint-up(lg) {
          padding-left: 12px;
        }
        img {
          max-width: 59px;
          @include media-breakpoint-up(md) {
            max-width: none;
          }
        }
      }
    }
  }
  .col-two {
    padding-right: 24px;
    @include media-breakpoint-up(xl) {
      padding: 0 28px 0 40px;
    }
  }
  // footer link wrapper div
  div {
    // footer link css
    a {
      margin-left: 11px;
      @include media-breakpoint-up(xs-360) {
        margin-left: 25px;
      }
      @include media-breakpoint-up(xs-420) {
        margin-left: 65px;
      }
      @include media-breakpoint-up(md) {
        margin-left: 24px;
      }
      @include media-breakpoint-up(lg) {
        margin-left: 32px;
      }
    }
  }
}
