footer {
  background-color: $blue-100;
  margin-top: 4px;
  padding: 78px 0px 45px;
  @include media-breakpoint-up(lg) {
    margin-top: 10px;
    padding: 24px 0 21px 0;
  }
  .footer-links {
    margin-top: 104px;
    @include media-breakpoint-up(lg) {
      margin-top: 30px;
    }
    a {
      color: $white;
      border-right: 1px solid $white;
      text-decoration: underline;
      @include font-size(10px);
      @include line-height(15px);
      padding: 0 13px;
      @include media-breakpoint-up(xs-375) {
        @include font-size(13px);
      }
      @include media-breakpoint-up(lg) {
        padding: 0 15px 15px;
      }
      @include media-breakpoint-up(xl) {
        padding: 0 26px 15px;
      }
    }
  }
  // copyright text column css
  .col-one {
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
      padding: 6px 0 0 89px;
    }
    p {
      @include font-size(13px);
      @include line-height(18px);
    }
    img {
      margin: 66px 0 32px;
      @include media-breakpoint-up(lg) {
        margin: 0 0 17px;
      }
    }
  }
  // download enrollment form column css
  .col-two {
    padding-top: 7px;
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
    }
    p {
      @include media-breakpoint-up(lg) {
        margin-left: 108px;
      }
    }
    // download enrollment form button css
    .btn {
      @include font-size(14px);
      @include line-height(24px);
      padding: 10px 34px 8px;
      @include media-breakpoint-up(xs-375) {
        padding: 10px 45px 8px;
      }
      @include media-breakpoint-up(lg) {
        margin-left: 34px;
        @include font-size(16px);
        @include line-height(24px);
        padding: 10px 50px 8px 35px;
      }
      @include media-breakpoint-up(xl) {
        padding: 10px 64px 8px 35px;
      }
      // download icon css
      &.download-icon {
        &::after {
          margin: 1px 0 0 5px;
          @include media-breakpoint-up(xs-375) {
            margin: -1px 0 0 8px;
          }
          @include media-breakpoint-up(xl) {
            margin: -1px 0 0 17px;
          }
        }
      }
    }
  }
}
