header {
  @include media-breakpoint-up(lg) {
    padding-left: 60px;
  }
  @include media-breakpoint-up(xxl) {
    padding-left: 128px;
  }
  border-bottom: 3px solid $yellow-100;
  // css for the links hwihc are above header
  .top-menu-links {
    padding: 2px 20px;
    background-color: $gray-200;
    @include media-breakpoint-up(lg) {
      padding: 3px 0 2px 5px;
      margin: 11px 40px 0 28px;
      background-color: transparent;
    }
    > span {
      @include media-breakpoint-up(lg) {
        border-bottom: 2px solid $green;
      }
      a {
        text-decoration: none;
        position: relative;
        color: $blue-100;
        &:hover {
          color: $blue-100;
        }
        letter-spacing: 0.2px;
        padding: 0 8px;
        @include font-size(10px);
        @include media-breakpoint-up(xs-375) {
          padding: 0 13px;
          @include font-size(12px);
          @include line-height(22px);
        }
        &::after {
          content: "";
          position: absolute;
          border-right: 1px solid $gray-100;
          right: 0;
          top: 50%;
          height: 10px;
          transform: translateY(-50%);
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
        @include media-breakpoint-up(lg) {
          letter-spacing: 0;
          @include font-size(14px);
          padding: 0 7px 0;
          &.act-support {
            padding: 0 30px 0 6.9px;
          }
        }
      }
    }
  }
  .navbar {
    position: relative;
    @include media-breakpoint-up(lg) {
      position: static;
    }
    padding: 3px 16px;
    &-brand {
      padding-left: 22px;
      @include media-breakpoint-up(lg) {
        margin-top: -20px;
      }
    }
    // navbar collapsible button css - mobile
    &-toggler {
      padding: 10px 6px;
      // hamburger icons css - mobile
      span {
        width: 32px;
        height: 0.15rem;
        background-color: $blue-100;
        display: block;
        margin: 8px auto;
        @include transition(0.3);
      }
    }
    &-collapse {
      position: fixed;
      @include media-breakpoint-up(lg) {
        position: static;
      }
      right: -100%;
      top: 30px;
      z-index: 2;
      height: 100vh;
      overflow: scroll;
      @include media-breakpoint-up(lg) {
        overflow: initial;
      }
      &.show {
        right: 0%;
        transition: 0.2s;
      }
      background-image: linear-gradient($blue-600, $blue-100);
      @include media-breakpoint-up(lg) {
        background-image: none;
        height: auto;
      }
      .btn {
        &.close-btn {
          position: absolute;
          right: 5.5%;
          top: 6.5%;
          padding: 5px 4px 0px 4px;
          @include font-size(35px);
        }
        &:not(.close-btn) {
          margin: 7px 16px 42px;
          padding: 13px 18px 10px;
        }
      }
      .navbar {
        &-nav {
          padding: 13px 20px 29px;
          @include media-breakpoint-up(xs-375) {
            padding: 13px 45px 29px;
          }
          @include media-breakpoint-up(lg) {
            padding: 10px 0 16px 0;
            margin-right: 0;
          }
          @include media-breakpoint-up(xxl) {
            padding: 10px 0 16px 45px;
            margin-right: 10px;
          }
          .nav-item {
            border-top: 1px solid $white;
            @include media-breakpoint-up(lg) {
              margin: 0 12px 0 0;
            }
            @include media-breakpoint-up(xxl) {
              margin: 0 16px 0 0;
            }
            &:first-child {
              .nav-link {
                padding: 19px 0 20px;
                @include media-breakpoint-up(lg) {
                  padding: 16px 0 0;
                }
              }
            }
            .nav-link {
              text-align: left;
              font-weight: bold;
              color: $white;
              border-bottom: 2px solid transparent;
              padding: 19px 0 8px;
              @include media-breakpoint-up(lg) {
                color: $blue-100;
                padding: 16px 0 0;
              }
              @include font-size(18px);
              @include line-height(22px);
              @include media-breakpoint-up(lg) {
                @include font-size(11px);
              }
              @include media-breakpoint-up(xl) {
                @include font-size(13px);
              }
              @include media-breakpoint-up(xxl) {
                @include font-size(15px);
              }
              &.dropdown-toggle {
                // arrow icon css
                position: relative;
                &::after {
                  content: "\f107";
                  border: 0;
                  font-family: "FontAwesome";
                  @include font-size(35px);
                  position: absolute;
                  right: 0;
                  top: 50%;
                  font-weight: lighter;
                  transform: translateY(-50%);
                  color: $yellow-100;
                  font-family: "FontAwesome";
                  @include media-breakpoint-up(lg) {
                    display: none;
                  }
                }
                // rotating arrow icon on expand
                &[aria-expanded="true"] {
                  &::after {
                    @include transform(translateY(-50%) rotate(180deg));
                  }
                }
              }
              &.active,
              &:hover {
                color: $green;
                @include media-breakpoint-up(lg) {
                  color: $blue-100;
                  border-bottom: 2px solid $green;
                }
              }
            }
            &.dropdown {
              &:hover,
              &.show {
                .dropdown-menu {
                  @include media-breakpoint-up(lg) {
                    @include display-flex();
                  }
                }
              }
              @include media-breakpoint-up(lg) {
                position: static;
              }
              .dropdown-menu {
                @include media-breakpoint-up(lg) {
                  position: absolute;
                  top: 117px;
                  left: 0;
                  width: 100%;
                  @include justify-content(center);
                  background-color: $blue-100;
                }
                background-color: transparent;
                padding-top: 0;
                margin: 0;
                .dropdown-item {
                  color: $white;
                  @include media-breakpoint-up(lg) {
                    text-align: center;
                    @include flex-basis(200px);
                    @include line-height(23px);
                  }
                  padding: 11px 24px;
                  &:first-child {
                    padding: 3px 24px 11px;
                    @include media-breakpoint-up(lg) {
                      padding: 11px 24px;
                    }
                  }
                  &:hover {
                    color: $green;
                    background-color: transparent;
                  }
                }
              }
            }
          }
        }
        &-brand {
          padding: 35px 17px 23px 0;
        }
      }
      a {
        @include line-height(22px);
        padding-right: 30px;
        &.redirect-icon-secondary {
          font-family: "helvetica-neue-medium";
        }
      }
    }
  }
}
