.btn {
  font-weight: bold;
  @include font-size(14px);
  @include line-height(24px);
  @include media-breakpoint-up(xs-375){
    @include font-size(16px);
  }
  @include media-breakpoint-up(md) {
    @include font-size(16px);
  }
  @include radius(31px);
  text-transform: uppercase;
  padding: 10px 23px 8px;
  border: none;
  &-primary {
    color: $white;
    background-color: $blue-100;
    @include box-shadow(0px 0px 0px 4px RGB(9 58 87 / 25%));
    &:hover {
      color: $white;
      @include box-shadow(none);
      background-color: $blue-100;
    }
    &:focus {
      color: $white;
      @include box-shadow(none);
      background-color: $blue-100;
    }
    &:not(:disabled):not(.disabled) {
      &:active {
        color: $white;
        background-color: $blue-100;
        &:focus {
          @include box-shadow(none);
        }
      }
    }
  }
  &-secondary {
    color: $blue-100;
    background-color: $yellow-100;
    @include box-shadow(0px 0px 0px 4px RGB(245 179 52 / 25%));
    &:hover {
      color: $blue-100;
      @include box-shadow(none);
      background-color: $yellow-100;
    }
    &:focus {
      color: $blue-100;
      @include box-shadow(none);
      background-color: $yellow-100;
    }
    &:not(:disabled):not(.disabled) {
      &:active {
        color: $blue-100;
        background-color: $yellow-100;
        &:focus {
          @include box-shadow(none);
        }
      }
    }
  }
}
