.modal {
  .modal-dialog {
    .modal-content {
      @include radius(24px);
      .modal-body {
        padding: 15px 10px;
        @include media-breakpoint-up(xs-375) {
          padding: 15px 30px;
        }
        ul {
          &.list li {
            margin-bottom: 20px;
          }
        }
        p,
        li {
          @include font-size(21px);
          @include line-height(25px);
          @include media-breakpoint-up(lg) {
            @include font-size(24px);
            @include line-height(29px);
          }
        }
        .modal-about-albrioza {
          padding: 10px;
          margin-bottom: 10px;
          border: 2px solid $blue-100;
          a.text-blue-100 {
            overflow-wrap: break-word;
          }
        }
        .list-content-wrapper {
          padding: 0 12px;
        }
      }
    }
  }
  button.close {
    font-weight: lighter;
    color: $yellow-200;
    padding: 15px 25px 0px;
    @include font-size(35px);
  }
}
