.modal {
  .modal-dialog {
    .modal-content {
      @include radius(25px);
      border: 1px solid $gray-100;
      .modal-body {
        padding: 15px 10px;
        @include media-breakpoint-up(xs-375) {
          padding: 4px 24px 15px 24px;
        }
        p,
        li {
          @include font-size(21px);
          @include line-height(25px);
          @include media-breakpoint-up(lg) {
            @include font-size(24px);
            @include line-height(29px);
          }
        }
        .modal-about-albrioza {
          padding: 17px 17px 0;
          margin-bottom: 10px;
          border: 2px solid $blue-100;
          a.text-blue-100 {
            overflow-wrap: break-word;
          }
        }
        .list-content-wrapper {
          padding: 0 14px 0 16px;
          @include media-breakpoint-up(lg) {
            padding: 0 6px 0 18px;
          }
          .list {
            margin-top: 25px;
            @include media-breakpoint-up(lg) {
              padding-left: 0;
            }
            li {
              margin-bottom: 32px;
            }
          }
        }
      }
    }
  }
  button.close {
    font-weight: lighter;
    color: $yellow-200;
    padding: 20px 25px 10px;
    @include font-size(35px);
  }
}
