// hides the scrolling of the page when menu is opend on small screen
.page-scroll-disable {
  overflow: hidden;
}
.inner-container {
  max-width: 885px;
  margin: 2px auto;
  @include media-breakpoint-up(lg) {
    margin: 0 auto 35px;
  }
  p {
    &.small-text {
      padding: 0px 4px;
      @include font-size(13px);
      @include line-height(19px);
      margin: 1px 0 0;
      letter-spacing: 0.2px;
      &:nth-child(2) {
        margin-bottom: 70px;
        @include media-breakpoint-up(lg) {
          margin-bottom: 72px;
        }
      }
      @include media-breakpoint-up(lg) {
        padding: 0px;
        @include font-size(14px);
        @include line-height(20px);
      }
    }
  }
  h3 {
    margin-bottom: 14px;
  }
}

// dotted border
.border-t-b-botted {
  border-top: 2px dotted $gray-100;
  border-bottom: 2px dotted $gray-100;
}

// dotted border bottom
.border-t-botted {
  border-top: 2px dotted $gray-100;
}

// list styling
ul {
  &.list {
    list-style-type: none;
    padding: 0 0 0 12px;
    li {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: -12px;
        width: 3px;
        height: 3px;
        @include radius(50%);
        background-color: $blue-100;
      }
    }
  }
}
